/* =================================
   GENERAL LAYOUT
   ================================= */
html,
body
{
	font-family: 'Arial', 'Veranda';
	font-size: 12px;
}

/* =================================
   TOP MENUBAR
   ================================= */
#menubar
{
	width: 100%
	background-image: 'img/menubar/bg_blur.png';
}

#menubar:li,
#menubar:span,
#menubar:a
{
	
}